Unidad3/list_comprensiones.md
Unidad3/list_comprensiones.py
Unidad4/lambda_functions.md
Unidad4/generadores
Unidad7/flask0/venv
Unidad7/flask1/venv
Unidad7/flask2/ambiente
Unidad7/flask3/venv
Unidad7/hm/env
./Anexos/Mysql/*
./Anexo/html/*
